.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.contactUs {
  width: 100%;
  margin-top: 32px;
}
.contactUs a {
  width: 100%;
  padding: 12px 24px;
  border: 2px solid #293241;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s, color 0.3s ease;
}
.contactUs a:hover {
  color: #ffffff;
  background-color: #293241;
}

.pricingItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.key {
  color: black;
  margin-right: 12px;
}

.price {
  font-size: 36px;
  font-weight: 500;
}
.pricingItemContainer {
  display: flex;
  justify-content: center;
  padding: 12px;
  background-color: white;
  font-size: 16px;
  flex: 1;
  margin: 0 12px;
  transition: box-shadow 0.3s;
}

.delivery img {
  height: 20px;
}
.pricingItemContainer:hover {
  box-shadow: 0 3px 9px -2px #d0cece;
}

.pricingInfoBlock {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
}

@media screen and (max-width: 900px) {
  .pricingItemContainer {
    margin-bottom: 12px;
    max-width: unset;
  }
  .pricingItem {
    align-items: center;
  }
}
