.shipingpCostContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color:#27ae60;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.shippingCostText{
  color:#ffffff;
  font-size: 20px;
}
